{% extends "base/base.html" %}

{% block body %}


<table class="table">
<tr> 
    <td colspan="7"></td>
<td><h4>Balance</h4></td>
</tr>
<tr><td colspan="8"><h2>ACTIFS</h2></td></tr>
<tr>
    <td colspan="8"><h4>Creances</h4>
</tr>
   <tr>
    <td colspan="7">121000 Account Receivable</td>
    <td colspan="1">{{totalAR}}</td>
   </tr>

   
   <tr style="color: red; background-color: white; font-style: italic; font-weight: bolder;">
    <td colspan="7">Total Creances   </td>
    <td colspan="1">{{totalAR}}</td>
   </tr>
</tr>
<tr>
    <td colspan="8" ><h4>Actifs Circulant</h4>
</tr>
   <tr>
    <td colspan="7">101402 Outstanding Receipts </td>
    <td colspan="1">{{totalOR}}</td>
   </tr>
   <tr>
    <td colspan="7">101403 Outstanding Payments  </td>
    <td colspan="1">{{totalOP1}}</td>
   </tr>
   <tr>
    <td colspan="7">131000 Tax Paid  </td>
    <td colspan="1">{{totalTP}}</td>
   </tr>

   <tr style="color: red; background-color: white; font-style: italic; font-weight: bolder;">
    <td colspan="7">Total ACTIF Circulant  </td>
    <td colspan="1">{{TotalAC}}</td>
   </tr>

   <tr style="color: blue; background-color: white; font-style: italic; font-weight: bolder;">
    <td colspan="7">Total ACTIFS   </td>
    <td colspan="1">{{TotalAC1}}</td>
   </tr>

   <hr>
<tr><td colspan="8"><h2>PASSIFS</h2></td></tr>

 
<tr>
    <td colspan="8"><h4>Dettes à court terme</h4>
</tr>
   <tr>
    <td colspan="7">251000 Tax Received</td>
    <td colspan="1">{{totalTR11}}</td>
   </tr>

   
   <tr style="color: red; background-color: white; font-style: italic; font-weight: bolder;">
    <td colspan="7">Total Dettes à court terme   </td>
    <td colspan="1">{{totalTR11}}</td>
   </tr>
</tr>
 
<tr>
    <td colspan="8"><h4>Dettes</h4>
</tr>
   <tr>
    <td colspan="7">211000 Account Payable</td>
    <td colspan="1">{{totalAP11}}</td>
   </tr>

   
   <tr style="color: red; background-color: white; font-style: italic; font-weight: bolder;">
    <td colspan="7">Total Dettes</td>
    <td colspan="1">{{totalAP11}}</td>
   </tr>
</tr>

<tr style="color: red; background-color: white; font-style: italic; font-weight: bolder;">
    <td colspan="7">Total Dettes à court terme</td>
    <td colspan="1">{{TotalDCT}}</td>
   </tr>


<tr style="color: red; background-color: white; font-style: italic; font-weight: bolder;">
    <td colspan="7">Total PASSIFS   </td>
    <td colspan="1">{{TotalDCT}}</td>
   </tr> 

   <tr><td colspan="8"><h2>CAPITAUX PROPRES</h2></td></tr>

   <tr>
    <td colspan="8"><h4>Bénéfices non répartis de l'exercice en cours</h4>
</tr>
   <tr>
    <td colspan="7">   Bénéfices de l'année en cours</td>
    <td colspan="1">{{totalCP}}</td>
   </tr>
   
   <tr style="color: red; background-color: white; font-style: italic; font-weight: bolder;">
    <td colspan="7">Total Bénéfices non répartis de l'exercice en cours</td>
    <td colspan="1">{{totalCP}}</td>
   </tr> 
   <tr style="color: red; background-color: white; font-style: italic; font-weight: bolder;">
    <td colspan="7">Total CAPITAUX PROPRES</td>
    <td colspan="1">{{totalCP}}</td>
   </tr> 

   <!-- Passifs + Cap_Prop -->
   <tr style="color: blue; background-color: white; font-style: italic; font-weight: bolder;">
    <td colspan="7">PASSIF + CAPITAUX PROPRES</td>
    <td colspan="1">{{totalPCP}}</td>
   </tr> 
{% endblock %}