{% extends "base/base.html" %} {% block body %}
<h1>Clients</h1>

<a
  href="{% url 'create_client' %}"
  class="btn btn-success"
  style="width: max-content"
  >Ajouter</a
>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Address</th>
      <th scope="col">Mobile</th>
      <th scope="col">Type</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    {% for client in clientList %}
    <tr>
      <th scope="row">{{client.id}}</th>
      <th scope="row">{{client.Name}}</th>
      <th scope="row">{{client.address}}</th>
      <th scope="row">{{client.mobile}}</th>
      <th scope="row">{{client.Type}}</th>
      <td>
        <a
          class="btn btn-primary btn-xs"
          href="{% url 'client_update' client.id  %}"
          ><span class="glyphicon glyphicon-edit">Update</span></a
        >
      </td>
      <td>
        <a href="{% url 'delete_client' client.id  %}" class="btn btn-danger"
          >Delete</a
        >
      </td>
    </tr>
    {%endfor%}
  </tbody>
</table>

{% comment %}
<div class="alert alert-primary" role="alert">{% endcomment %}</div>

{% endblock %}
