{% extends "base/base.html" %}

{% block body %}
<h1>Fournisseurs factures</h1>
<a href="{% url 'create_factFr' %}" class="btn btn-success" style="width: max-content;">Ajouter</a>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Code</th>
      <th scope="col">Fournisseur</th>
      <th scope="col">DateFacture</th>
      <th scope="col">HTaxe</th>
      <th scope="col">Total</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for fact in facturesList %}
    <tr>
      <th scope="row">{{fact.id}}</th>
      <th scope="row">{{fact.code}}</th>
      <th scope="row">{{fact.fournisseur}}</th>
      <th scope="row">{{fact.date_facturation}}</th>
      <th scope="row">{{fact.HTaxe}}</th>
      <th scope="row">{{fact.total1}}</th>
      <td><a class="btn btn-primary btn-xs" href="{% url 'factFr_update' fact.id  %}"><span class="glyphicon glyphicon-edit">Update</span></a></td>
      <td><a href="{% url 'delete_factFr' fact.id  %}" class="btn btn-danger">Cancel</a></td>
    </tr>
    {%endfor%}
  </tbody>
</table>


</div>

{% endblock %}