{% extends "base/base.html" %}

{% block body %}
<h1>Fournisseurs</h1>
<a href="{% url 'create_fours' %}" class="btn btn-success" style="width: max-content;">Ajouter</a>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Address</th>
      <th scope="col">Mobile</th>
      <th scope="col">Type</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    {% for fours in foursList %}
    <tr>
      <th scope="row">{{fours.id}}</th>
      <th scope="row">{{fours.Name}}</th>
      <th scope="row">{{fours.address}}</th>
      <th scope="row">{{fours.mobile}}</th>
      <th scope="row">{{fours.Type}}</th>
      <td><a class="btn btn-primary btn-xs" href="{% url 'fourn_update' fours.id  %}"><span class="glyphicon glyphicon-edit">Update</span></a></td>
      <td><a href="{% url 'delete_fourn' fours.id  %}" class="btn btn-danger">Cancel</a></td>

    </tr>
    {%endfor%}
  </tbody>
</table>


{% comment %} <div class="alert alert-primary" role="alert"> {% endcomment %}
</div>

{% endblock %}