{% extends "base/base.html" %} {% block body %}
<html>
  <head>
    <!-- <title>Graphique des factures</title> -->
  </head>
  <body>
    <h1>hello {{name}}</h1>
    <table>
      <tr style="font-size: larger; font-weight: bolder">
        <!-- <td style="padding-left: 10%;">Factures Clients</td>
                <td style="padding-left: 10%;">Factures Fours</td> -->
      </tr>
      <tr>
        <td>
          <img
            src="static/HomeFeature2.png"
            alt="Graphique des factures"
            style="width: 90%"
          />
        </td>
        <!-- <td>
                    <img src="static/factures_graphique2.png" alt="Graphique des factures"style="width: 100%;"></tr>
                </td> -->
      </tr>
    </table>
  </body>
</html>

{% endblock %}
