{% extends "base/base.html" %}

{% block body %}
<h1>Piece Comptables</h1>

<a href="{% url 'create_piece' %}" class="btn btn-success" style="width: max-content;">Create Piece</a>

<table class="table" style="font-style: italic; font-weight: bolder;">
  <thead>
    <tr style="background-color: black ;font-weight: bolder; color: white;">
      <th scope="col">Date</th>
      <th scope="col">Num</th>
      <th scope="col">Partenaire</th>
      <th scope="col">Reference</th>
      <th scope="col">Journal</th>
      <th scope="col">Total</th>
      {% comment %} <th scope="col">Action</th> {% endcomment %}
    </tr>
    <tbody>
  </thead>
    {% comment %} {% for piece in pieces %}
    <tr>
    <th scope="row">{{piece.date_comptable}}</th>
      <th scope="row">{{piece.id}}</th>
      <th scope="row">{{piece.partenaire}}</th>
      <th scope="row">{{piece.ref}}</th>
      <th scope="row">{{piece.journal}}</th>
      <th scope="row">{{piece.total}}</th>
      <td><a class="btn btn-primary btn-xs" href="{% url 'piece_update' piece.id  %}"><span class="glyphicon glyphicon-edit">Update</span></a></td>
      <td><a href="{% url 'delete_piece' piece.id  %}" class="btn btn-danger">Delete</a></td>
    </tr>
    {%endfor%} {% endcomment %}
    {% comment %} Fact Four {% endcomment %}
    {% for fact in facturesList %}
    <tr>
      <th scope="row">{{fact.date_facturation}}</th>
      <th scope="row">{{fact.code}}</th>
      <th scope="row">{{fact.fournisseur}}</th>
      <th scope="row"></th>
      <th scope="row">{{fact.journal}}</th>
      <th scope="row">{{fact.total}}</th>
    </tr>
    {%endfor%}
 {% comment %} Facts Clients {% endcomment %}
    {% for fact in facturesClList %}
    <tr>
      <th scope="row">{{fact.date_facturation}}</th>
      <th scope="row">{{fact.code}}</th>
      <th scope="row">{{fact.client}}</th>
      <th scope="row"></th>
      <th scope="row">{{fact.journal}}</th>
      <th scope="row">{{fact.total}}</th>
    </tr>
    {%endfor%}

    {% for note in notes %}
    <tr>
      <th scope="row">{{note.date_facturation}}</th>
      <th scope="row">{{note.code}}</th>
      <th scope="row">{{note.client}}</th>
      <th scope="row"></th>
      <th scope="row">{{note.journal}}</th>
      <th scope="row">{{note.total}}</th>
    </tr>
    {%endfor%}

    {% for paiement in paiements %}
    <tr>
      <th scope="row">{{paiement.Date}}</th>
      <th scope="row">{{paiement.code}}</th>
      <th scope="row">{{paiement.Client}}</th>
      <th scope="row"></th>
      <th scope="row">{{paiement.journal}}</th>
      <th scope="row">{{paiement.montant}}</th>

    </tr>
    {%endfor%}
 
    <tr style="background-color: black ;font-weight: bolder; color: white;">
      <th scope="row">Total</th>
      <td colspan="4"></td>
      <td colspan="1" scope="row">{{Total}}</td>
    </tr>
  </tbody>
</table>


</div>

{% endblock %}