{% extends "base/base.html" %}

{% block body %}
<h1>Products</h1>
<a href="{% url 'create_prod' %}" class="btn btn-success" style="width: max-content;">Ajouter</a>

<table class="table">
  <thead>
    <tr>
        <th scope="col">#</th>
      <th scope="col">Nom</th>
      <th scope="col">Prix de vente</th>
      <th scope="col">Taxes a la vente</th>
      <th scope="col">Taxes fournisseur</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    {% for prod in produits %}
    <tr>
        <th scope="row">{{prod.id}}</th>
      <th scope="row">{{prod.libelle}}</th>
      <th scope="row">{{prod.prix}}</th>
      <th scope="row">{{prod.Taxes}}</th>
      <th scope="row">{{prod.Taxesfourn}}</th>
      <td><a class="btn btn-primary btn-xs" href="{% url 'prod_update' prod.id  %}"><span class="glyphicon glyphicon-edit">Update</span></a></td>
      <td><a href="{% url 'delete_prod' prod.id  %}" class="btn btn-danger">Cancel</a></td>

    </tr>
    {%endfor%}
  </tbody>
</table>


{% comment %} <div class="alert alert-primary" role="alert"> {% endcomment %}
</div>

{% endblock %}